* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 600px;
}

.sidebar {
  margin-top: 5px;
}

.bar {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;


  max-width: 900px;
  box-shadow: 10px 10px 30px rgb(199, 198, 198);

}

.logo {
  color: green;
  font-size: 30px;
  padding: 10px;
}

.menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.main-link{
  cursor: pointer;
}

.car-logo {
  width: 40px;
  height: 40px;
}

h1 {
  margin-left: 20px;
}

.target-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.target {
  margin-top: 40px;
  padding: 15px;
  gap: 20px;

  display: flex;
  align-items: start;
  flex-direction: column;

  max-height: 620px;
  max-width: 300px;
  box-shadow: 10px 10px 30px rgb(199, 198, 198);
}

.img-shoes {
  width: 200px;
  height: 200px;
}

.detail{
  display: flex;
  padding: 10px;
  cursor: pointer;
  border: solid 2px rgb(255, 165, 210);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(255, 165, 210);
}

.detail-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.details-text{
 opacity: 0;
}

.details-text.show {
  opacity: 1;
  height: auto;
}

.price {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn-cart {
  padding: 5px;
  border: none;
  cursor: pointer;
}

.cart{
  opacity: 0;
}

.cart.show{
  opacity: 1;
}

.table{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid;
  margin-top: 5px;
  padding: 10px;
  width: 500px;
  height: 100%;

  transform: translateX(800px);

 
}

.table-content{  /* formato de tabla */
  border-spacing: 10px; /* Espacio entre celdas */
  table-layout: fixed; /* Fija el ancho de las columnas */
 
}

th, td {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: middle; /* Alinea el contenido verticalmente */

  padding: 10px; /* Espaciado para mejor visualización */
  
}

td{
  border: solid;
}

.img-item{
  width: 100px;
  height: 100px;
  object-fit: cover;
}


